<h2>Lista produktów</h2>

<table mat-table [dataSource]="(products$ | async) ?? []" class="mat-elevation-z8">

  <ng-container matColumnDef="kod">
    <th mat-header-cell *matHeaderCellDef>Kod</th>
    <td mat-cell *matCellDef="let p">{{p.kod}}</td>
  </ng-container>

  <ng-container matColumnDef="nazwa">
    <th mat-header-cell *matHeaderCellDef>Nazwa</th>
    <td mat-cell *matCellDef="let p">{{p.nazwa}}</td>
  </ng-container>

  <ng-container matColumnDef="cena">
    <th mat-header-cell *matHeaderCellDef>Cena</th>
    <td mat-cell *matCellDef="let p">{{p.cena}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Akcje</th>
    <td mat-cell *matCellDef="let p">
      <button mat-icon-button color="warn" (click)="delete(p.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['kod','nazwa','cena','actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['kod','nazwa','cena','actions']"></tr>

</table>
