<h2>Dodaj produkt</h2>

<form (ngSubmit)="submit()" class="form">

  <mat-form-field appearance="outline">
    <mat-label>Kod</mat-label>
    <input matInput [(ngModel)]="product.kod" name="kod">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nazwa</mat-label>
    <input matInput [(ngModel)]="product.nazwa" name="nazwa">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cena</mat-label>
    <input matInput type="number" [(ngModel)]="product.cena" name="cena">
  </mat-form-field>

  <button mat-raised-button color="primary">
    Dodaj
  </button>

</form>
